<%- include("header") -%>

<h2>This is the about page</h2>

<p>->A To-do list Application 📋
    ->Skills: HTML, CSS, Bootstrap, JavaScript, Express, EJS, Mongoose-Atlis, Heroku</p>

<%- include("footer") -%>
